doctype html
html
  head
    meta(charset='utf-8')
    block title
    block style
      link(rel='stylesheet', href='styles/index.css')
  body
    block box
      .box
        block tabBar
        block main

    //- block footer
    //-   include _footer
    //-   +footer(1)
    block float
    block dialog
    block script
      