<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <title>5866 5866 1元起租 秒变土豪</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/rent.css">
  </head>
	<body>
    <div class="box">
      <div class="bg01"></div>
      <div class="bg02">
        <div class="wrap size">
          <div class="link-wrap">
            <a href="https://hd.5866.com/account_recovery/game_index?from=listshouhao" target="_blank" class="zjqh" title="重金求号">重金求号</a>
            <a href="https://g.5866.com/rent/Cy1jLb7jP9ofj9pu?from=tablistshare" target="_blank" class="dzyk" title="低至1块">低至1块</a>
            <a href="https://g.5866.com/rent/Cy1jLb7jP9ofj9pu?from=tablistshare" target="_blank" class="qpf" title="LOL 全皮肤">LOL 全皮肤</a>
            <a href="https://yww.yangba.tv/spread/?sign=5866pd01" target="_blank" class="mnpw" title="美女陪玩">美女陪玩</a>
            <a href="http://swjoy.dailianmama.com/queryprice.html" target="_blank" class="kpdl" title="靠谱代练">靠谱代练</a>
            <a href="https://g.5866.com/rent/Cy1jLb7jP9ofj9pu?from=tablistshare" target="_blank" class="txgz" title="特效根治">特效根治</a>
            <a href="https://www.5866.com/activityPage/1#na3" target="_blank" class="dwhj" title="点我带我回家">点我带我回家</a>
          </div>
        </div>
      </div>
    </div>

    <script>
      var _hmt = _hmt || [];
      (function () {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?80f4eaf5643d9a87cb63f7dc3f3430d0";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </body>
</html>
