<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>9050 卡牌区域资源位</title>
    <link rel="stylesheet" href="styles/ad.css">
</head>
<body>
    <div class="ad-wrap">
        <a href="#" target="_blank">
            <img src="images/9050/banner1.jpg" alt="">
            <p class="info">火马电竞-个人赛</p>
        </a>
        <a href="#" target="_blank">
            <img src="images/9050/banner2.jpg" alt="">
            <p class="info">火马电竞-战队赛</p>
        </a>
        <a href="#" target="_blank">
            <img src="images/9050/banner3.jpg" alt="">
            <p class="info">火马电竞-挑战赛</p>
        </a>
    </div>
</body>
</html>