<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Season">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--允许全屏-->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>网吧活动 - 火马狂欢礼</title>
    <link rel="stylesheet" type="text/css" href="styles/m-app2b.css">
    <script src="scripts/lib-flexible.min.js"></script>
  </head>

  <body>
    <div class="wrap">
      <article class="content-wrap">
        <section class="bg-01">
          <p class="date">火马狂欢礼 活动时间：1月20日-1月21日</p>
        </section>
        <section class="bg-02">
          <div class="tabs-wrap">
            <button class="btn-rule sel">活动规则</button>
            <button class="btn-bar">人气网吧榜</button>
          </div>
          <div class="info-wrap">
            <div class="rule ">
              <div class="txt-wrap">
                <p class="title">Q: 谁能参加？</p>
                <p class="txt">A: 所有开通“火马电竞”的网吧， 均可参加。</p>
                <p class="title">Q: 奖励什么？</p>
                <p class="txt">A: 达成人数TOP10的网吧，平分5万Q币。</p>
                <p class="title">Q: 比拼什么？</p>
                <p class="txt">A: 火马“狂欢礼”限时活动的达成人数。</p>
                <p class="title">Q: 火马“周末狂欢礼”是什么？</p>
                <p class="txt">A: 英雄联盟&火马电竞的联合活动，玩家在活动时间内，在网吧体验LOL并获胜即得皮肤奖励。</p>
                <p class="title">注意事项：</p>
                <p class="txt">1.活动时间1月20日-1月21日，实时统计达成人数，请随时关注“人气网吧榜”；</p>
                <p class="txt">2.统计的截止时间为1月21日 24:00，腾讯官方将在活动结束后10个工作日内，根据火马提供的榜单信息进行奖励发放。</p>
              </div>
            </div>
            <div class="bar none">
              <table class="tbl-bar">
                <thead>
                  <tr>
                    <th style="width: 20%">名次</th>
                    <th style="width: 50%">网吧名称</th>
                    <th style="width: 30%">达成人数</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>杰拉网吧</td>
                    <td>25877</td>
                  </tr>
                </tbody>
              </table>
              <p class="nodata none">榜单将于2015年1月13日 19:00活动开始后显示</p>
            </div>
          </div>
        </section> 
      </article>
    </div>
  </body>
  
  <script src="scripts/jquery-3.1.1.min.js"></script>
  <script type="text/javascript">
    // document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
    // 显示、隐藏弹出层
    var GLOBAL = {
      show: function($obj){
        $obj.fadeIn(400);
        $('.masklayer').show();
      },
      hide: function($obj){
        $obj.fadeOut(400);
        $('.masklayer').hide();
      }
    };

    ;(function(){

      // vip 介绍 tab 切换
      $('body').on('click', '.tabs-wrap button', function(){
        var index = $(this).index();
        $(this).addClass('sel').siblings().removeClass('sel');
        $('.info-wrap > div').eq(index).show().siblings().hide();
      });

      // 隐藏弹层
      $('body').on('click', '.masklayer, .dialog .btn-close, .dialog .btn-buy, .dialog .btn-cancel', function(event){
        event.preventDefault();
        GLOBAL.hide($('.dialog'));
      });

    })(jQuery);
  </script>
</html>