<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <title>5866 商城疗愈所</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="styles/faq.css">
  </head>
	<body>
    <!--[if lt IE 8]>
      <div id="browser" class="browser">
        <p>顺网提醒您：为了更好的浏览本页面，快跟您过时的浏览器说声后会无期，强烈建议升级至<a href="https://windows.microsoft.com/zh-cn/windows/upgrade-your-browser" target="_blank">最新版IE</a>或<a href="https://www.google.cn/intl/zh-CN/chrome/browser/desktop/" target="_blank">chrome浏览器</a></p>
      </div>
    <![endif]-->
    <div class="bg-box">
      <div class="bg1"></div>
      <div class="bg2"></div>
      <div class="bg3"></div>
    </div>
  
    <div class="wrap-box">
      <div class="wrap">
          <div class="lottery-wrap">
            <a target="_blank" href="https://g.5866.com/rent/Cy1jLb7jP9ofj9pu" class="logo"></a>
            <div class="swiper-wrap">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="left">
                      <img src="images/faq/Step1.png" alt="">
                    </div>
                    <div class="right">
                      <img src="images/faq/text1.png" alt="">
                    </div>
                    <button class="btn-next"></button>
                  </div>
                  <div class="swiper-slide">
                    <div class="left">
                      <img src="images/faq/Step2.png" alt="">
                    </div>
                    <div class="right">
                      <img src="images/faq/text2.png" alt="">
                    </div>
                    <button class="btn-next"></button>
                  </div>
                  <div class="swiper-slide">
                    <div class="left">
                      <img src="images/faq/Step3.png" alt="">
                    </div>
                    <div class="right">
                      <img src="images/faq/text3.png" alt="">
                    </div>
                    <button class="btn-next"></button>
                  </div>
                  <div class="swiper-slide">
                    <div class="left">
                      <img src="images/faq/Step4.png" alt="">
                    </div>
                    <div class="right">
                      <img src="images/faq/text4.png" alt="">
                    </div>
                    <button class="btn-next"></button>
                  </div>
                  <div class="swiper-slide">
                    <div class="left">
                      <img src="images/faq/Step5.png" alt="">
                    </div>
                    <div class="right">
                      <img src="images/faq/text5.png" alt="">
                    </div>
                    <button class="btn-next"></button>
                  </div>
                </div>
              </div>
              <!-- 左右箭头 -->
              <a class="guide-swiper-prev"></a>
              <a class="guide-swiper-next active"></a>
              <!-- 导航 -->
              <div class="guide-nav">
                <div class="guide-nav-list guide-nav-list-1 active" data-key="0"></div>
                <div class="guide-nav-list guide-nav-list-2" data-key="1"></div>
                <div class="guide-nav-list guide-nav-list-3" data-key="2"></div>
                <div class="guide-nav-list guide-nav-list-4" data-key="3"></div>
                <div class="guide-nav-list guide-nav-list-5" data-key="4"></div>
              </div>
            </div>
        </div>
        <div class="game-wrap">
          <div class="caption ti">商品详细教程</div>
          <div class="game">
            <ul>
              <li>
                <a target="_blank" href="https://pic.5866.com/upmall/html/info/detail/15536020225342128.html#43">
                  <div class="item">
                    <img src="images/faq/img/cyhx.png" alt="">
                    <p class="text">穿越火线租号教程</p>
                  </div>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://pic.5866.com/upmall/html/info/detail/15536020425109041.html#43">
                  <div class="item">
                    <img src="images/faq/img/lol.png" alt="">
                    <p class="text">英雄联盟租号教程</p>
                  </div>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://pic.5866.com/upmall/html/info/detail/15536020640183954.html#43">
                  <div class="item">
                    <img src="images/faq/img/nz.png" alt="">
                    <p class="text">逆战租号教程</p>
                  </div>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://pic.5866.com/upmall/html/info/detail/15536020955139222.html#43">
                  <div class="item">
                    <img src="images/faq/img/qqfc.png" alt="">
                    <p class="text">QQ飞车租号教程</p>
                  </div>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://pic.5866.com/upmall/html/info/detail/15580126096905666.html#43">
                  <div class="item">
                    <img src="images/faq/img/steam.png" alt="">
                    <p class="text">Steam游戏租号教程</p>
                  </div>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://pic.5866.com/upmall/html/info/detail/15536021417398528.html">
                  <div class="item">
                    <img src="images/faq/img/apex.png" alt="">
                    <p class="text">APEX租号教程</p>
                  </div>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://pic.5866.com/upmall/html/info/detail/15580590495356728.html#43">
                  <div class="item">
                    <img src="images/faq/img/qqvideo.png" alt="">
                    <p class="text">腾讯视频VIP租号教程</p>
                  </div>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://pic.5866.com/upmall/html/info/detail/15580572262019549.html#43">
                  <div class="item">
                    <img src="images/faq/img/iqy.png" alt="">
                    <p class="text">爱奇艺VIP租号教程</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="gd-wrap">
            <a target="_blank" href="https://g.5866.com/rent/Cy1jLb7jP9ofj9pu" class="gd"></a>
          </div>
          <div class="zh-wrap">
              <a target="_blank" href="https://pic.5866.com/upmall/html/info/list/42.html#">租号须知</a>
              <a target="_blank" href="http://img.5866.com/ww/12/5866_Client.exe">下载上号器</a>
              <a target="_blank" href="https://pic.5866.com/upmall/html/info/detail/15524579262716270.html#44">投诉帮助</a>
            </div>
        </div>
      </div>
    </div>
      
    <script src="scripts/base-faq.js"></script>
    <script src="scripts/faq.js"></script>

    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?c94fd14a8476c1a5ca2a809bb6cff586";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </body>
</html>
