<!DOCTYPE html>
<html>
  <head>
    <title>支付确认</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link rel="stylesheet" href="styles/public.css">
    <script>
      var localUrl = "https://www.5866.com/", staticUrl = "//mallstatic.5866.com/", picUrl = "https://pic.5866.com/upmall/";
      
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?80f4eaf5643d9a87cb63f7dc3f3430d0";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
      
    </script>
  </head>
  <body>
    <!-- include header-->
    <!-- 个人中心左侧导航-->
    <!-- 资讯左侧导航-->
        <!-- 顶部用户-->
        <div class="top-bar-group">
          <div class="top-bar"> 
            <!-- 登录前-->
            <div class="user-box" style="display:none;">Hi，欢迎来到5866商城<a href="#">登录</a></div>
            <!-- 登录后-->
            <div class="user-box">Hi，<a class="user" href="">15888863973</a><a href="#">退出</a></div>
            <div class="nav"><a href="#">我的订单</a><a href="#">共享中心</a><a href="#">客服中心</a></div>
          </div>
        </div>
        <!-- header start-->
        <div class="glmall-header-group">
          <div class="glmall-header-wrapper">
            <div class="glmall-header">
              <div class="glmall-header-logo"><a href="/"> <img src="images/mall_logo.png" alt="5866商城"></a></div>
              <div class="buy-step-bar">
                <ul>
                  <li class="active"> <em>1 </em><span>确认订单</span></li>
                  <li> <em>2</em><span>支付订单金额</span></li>
                  <li class="last"><em>3</em><span>购买成功</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- header end-->
    <div class="wrap_group">
      <div class="page-container">
        <div class="wrap2">
          <div class="buy-confirm-wrap">
            <div class="buy-confirm-desc">服务承诺：担保交易 身份认证 极速发货</div>
            <div class="buy-confirm-group">
              <div class="confirm-item">
                <div class="head">订单信息</div>
                <div class="body">
                  <table class="form-table" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <th>收货角色名</th>
                        <td>
                          <input class="ui-input2" type="text" name="" value="" placeholder="请输入收货的游戏角色名"><span class="normal-tip"><a href="###">如何查看角色名？</a></span><span class="error-tip">请填写正确的手机号码                          </span>
                        </td>
                      </tr>
                      <tr>
                        <th>联系手机号</th>
                        <td>
                          <input class="ui-input2" id="payTel" type="text" name="" value="" placeholder="填写手机号，随时查询订单状态"><span class="form-tip">提示语提示语提示语提示语   </span><span class="error-tip">请填写正确的手机号码               </span>
                        </td>
                      </tr>
                      <tr>
                        <th>其它需填充信息</th>
                        <td>
                          <input class="ui-input2" type="text" name="" value="" placeholder="请填写需充值的游戏账号"><span class="form-tip">提示语提示语提示语提示语                  </span><span class="error-tip">错误提示错误提示                  </span>
                        </td>
                      </tr>
                      <tr>
                        <th>testtesttesttest</th>
                        <td>
                          <input class="ui-input2" type="text" name="" value="" placeholder="请填写需充值的游戏账号"><span class="form-tip">提示语提示语                  </span><span class="error-tip">错误提示错误提示错误提示                </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="pro-info">
                  <div class="pic"><img class="lazy" data-original="images/pubg.jpg" src="images/space.png" alt=""></div>
                  <div class="name">Steam-绝地求生激活码aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
                  <div class="info"> <span>套餐: 全网通用</span><span>区服: 广州1区   玄武区</span></div>
                  <div class="price-box">
                    <div class="dis-price">&yen; 93.00</div>
                    <div class="normal-price">原价：&yen; 98.00</div>
                  </div>
                </div>
                <div class="pro-info">
                  <div class="pic"><img class="lazy" data-original="images/pubg.jpg" src="images/space.png" alt=""></div>
                  <div class="name">Steam-绝地求生激活码aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
                  <div class="info"> <span>套餐: 全网通用</span><span>数量: x1</span></div>
                  <div class="price-box">
                    <div class="dis-price">&yen; 93.00</div>
                    <div class="normal-price">原价：&yen; 98.00</div>
                  </div>
                </div>
              </div>
              <!-- 极云游戏使用须知（只在极云出现）-->
              <div class="use-desc">
                <div class="t">使用须知</div>
                <div class="d">
                  <p>1、您在支付一小时费用后，即在付款完成后开始计时，一小时内不重启电脑可任意体验顺网云游戏服务。</p>
                  <p>2、支付完成后您无需做任何操作只需等待连接。</p>
                  <p>3、若出现任何网络不稳定请联系QQ：1283619201。</p>
                  <p>4、如果您在使用过程中出现任何问题请联系QQ：1283619201。</p>
                </div>
              </div>
              <div class="confirm-item">
                <div class="head">支付方式</div>
                <div class="body">
                  <div class="pay-type-check" id="payTypeCheck">
                    <label class="ui-radio-primary pay-weixin" title="微信支付">
                      <input type="radio" name="buy-type" value="weixin" checked="checked"><span class="txt">微信支付</span>
                    </label>
                    <label class="ui-radio-primary pay-alipay" title="支付宝支付">
                      <input type="radio" value="alipay" name="buy-type"><span class="txt">支付宝支付</span>
                    </label>
                  </div>
                  <div class="amount">
                     应付总额： <span class="pri">
                       &yen; <strong>93.00</strong></span></div>
                </div>
              </div>
              <div class="confirm-fn"><a class="pay-btn disabled" id="payConfirmBtn" href="#">去付款</a>
                <div class="tel-confirm" id="telConfirm"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer start-->
    <div class="glmall-footer-fn">
      <div class="glmall-footer-advantage">
        <ul>
          <li> <i class="glmall-icon01"></i><strong>权威认证</strong>
            <p>上市公司背书，商品/服务品质保障</p>
          </li>
          <li> <i class="glmall-icon04"></i><strong>官方授权</strong>
            <p>正版官方，购物安全无风险</p>
          </li>
          <li> <i class="glmall-icon02"></i><strong>低价保障</strong>
            <p>天天低价，畅选无忧购物更便宜</p>
          </li>
          <li> <i class="glmall-icon03"></i><strong>售后无忧</strong>
            <p>7*24小时客服，极速响应贴心服务        </p>
          </li>
        </ul>
      </div>
      <div class="glmall-footer-about">
        <div class="glmall-footer-link">
          <div class="glmall-f-col">
            <div class="glmall-title">新手帮助</div>
            <ul>
              <li> <a href="新手帮助-购买前须知.html" target="_blank">购买前须知</a></li>
              <li><a href="新手帮助-其它常见问题.html" target="_blank">其他常见问题</a></li>
            </ul>
          </div>
          <div class="glmall-f-col">
            <div class="glmall-title">关于我们</div>
            <ul>
              <li> <a href="关于我们.html" target="_blank">公司介绍</a></li>
              <li><a href="关于我们.html#cooperation" target="_blank">商务合作</a></li>
            </ul>
          </div>
          <div class="glmall-f-col">
            <div class="glmall-title">支付方式</div>
            <ul>
              <li> <span class="glmall-icon-alipay">支付宝支付</span></li>
              <li><span class="glmall-icon-weixin">微信支付</span></li>
              <li><span class="glmall-icon-qqpay">QQ钱包支付</span></li>
            </ul>
          </div>
          <div class="glmall-f-col">
            <div class="glmall-title">联系我们</div>
            <ul>
              <li>QQ群:  <a href="http://img.5866.com/ww/qq.html" target="_blank">820618306 </a></li>
              <li>客服电话: 400-8559558 </li>
              <li><a class="glmall-f-service" href="#" target="_blank">投诉建议</a></li>
            </ul>
          </div>
          <div class="glmall-f-col">
            <div class="glmall-title">5866商城公众号</div>
            <ul class="glmall-footer-qrcode">
              <li> <img src="images/footer_weibo.png" alt="">
                <div>关注微博</div>
              </li>
              <li> <img src="images/footer-qrcode.png" alt="">
                <div>关注微信</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="glmall-footer-group">
      <div class="glmall-footer">
        <div class="glmall-friend-link"><a href="#">顺网游戏</a><a href="#">顺网游戏</a><a href="#">顺网游戏</a><a href="#">顺网游戏</a><a href="#">顺网游戏</a><a href="#">顺网游戏</a><a href="#">顺网游戏</a><a href="#">顺网游戏顺网游戏</a><a href="#">顺网游戏</a><a href="#">顺网游戏</a><a href="#">顺网游戏</a><a href="#">顺网游戏</a><a href="#">顺网游戏</a><a href="#">顺网游戏顺网游戏</a><a href="#">顺网游戏</a><a href="#">顺网游戏</a><a href="#">顺网游戏</a><a href="#">顺网游戏</a><a href="#">顺网游戏</a><a href="#">顺网游戏顺网游戏</a><a href="#">顺网游戏</a><a href="#">顺网游戏</a></div>
        <div class="glmall-copyright-group">©杭州顺网科技股份有限公司 保留所有权利 <a href="http://www.swjoy.com/icp.html" target="_blank">浙B2-20090265</a><a class="glmall-beian" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602002164" target="_blank"><img src="./images/ghs.png">浙公网安备 33010602002164号</a><a target="_blank" href="http://idinfo.zjaic.gov.cn/bscx.do?method=hddoc&amp;id=33000000008182"><img src="./images/i_lo2.png" border="0"></a><a href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/toDetail/8A82C51D57654B639A8861237157F60B" target="_blank"><img src="./images/wen.png" alt="互联网文化经营单位"></a></div>
      </div>
    </div>
    <!-- footer end-->
    <script src="scripts/libs.js"></script>
    <script src="scripts/buyConfirm.js"></script>
  </body>
</html>